<div>
<h2>Smart Watch</h2>
<img [src]="mysmtwtc" alt="">
<p> price:Rs 2900 </p>

<hr/>
<h3>
OPPO F10 Pro</h3>
<img [src]="myphon" alt="">
<p>
price:Rs 24500 </p>
<hr/>
<h3>
Samsung Galaxy Tab</h3>
<img [src]="mysamsung" alt=""> 
<p>
price:Rs 20000</p>
<hr/>
<h3>
Asus Laptop</h3>
<img [src]="myasus" alt=""> 
<p>
price:Rs 43690</p>
<hr/>
<h3>
Dell Laptop</h3>
<img [src]="mydell" alt=""> 
<p>
Price :Rs 50200 </p>
<hr/>
<h3>
smart TV </h3>
<img [src]="mytv" alt=""> 
<p>
Price:Rs 27600 </p>
<hr/>
</div>
<div>
    <nav>
        <a routerLink="/products" routerLinkActive="active">Place order</a>
    </nav>
</div>
